body {
  font-family: 'system-ui', '.SFNSText-Regular', sans-serif;
}

:root {
  --primary-text: #050505;
  --wash: #e4e6eb;
}

.conversation-panel {
  margin: 18px;
}

.messages-list {
  flex: auto;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  font-size: 15px;
}

.chat-bubble-hstack {
  display: flex;
}

.chat-bubble {
  padding: 8px 12px;
  border-radius: 18px;
  max-width: 300px;
}

.chat-bubble-non-self {
  background: var(--wash);
  color: var(--primary-text);
}

.chat-bubble-self {
  background: rgb(0, 132, 255);
  color: white;
}

.chat-bubble-spacer {
  flex-grow: 1;
}

.conversation-input {
  background-color: white;
  color: rgb(28, 30, 33);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 18px;
  position: fixed;
  bottom: 0px;
  width: -webkit-fill-available;
}

.conversation-input .bubble {
  border-radius: 20px;
  background-color: rgba(134, 142, 153, 0.1);
  padding: 8px 10px;
}

.conversation-input .text-input {
  line-height: 20.1px;
  border-width: 0px;
  width: 98%;
  outline: none;
  background-color: transparent;
}
