body {
  font-family: 'system-ui', '.SFNSText-Regular', sans-serif;
}

:root {
  --primary-text: #050505;
  --wash: #e4e6eb;
}

.messages-list {
  flex: auto;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  font-size: 15px;
  margin: 18px;
}

.chat-bubble-hstack {
  display: flex;
}

.chat-bubble {
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 18px;
  max-width: 300px;
}

.chat-bubble-non-self {
  background: var(--wash);
  color: var(--primary-text);
}

.chat-bubble-self {
  background: rgb(0, 132, 255);
  color: white;
}

.chat-bubble-spacer {
  flex-grow: 1;
}
