body {
  font-family: 'system-ui', '.SFNSText-Regular', sans-serif;
  overflow: hidden;
}

:root {
  --primary-text: #050505;
  --wash: #e4e6eb;
}

.main-container {
  display: flex;
}

.left-panel {
  width: 460px;
}

.right-panel {
  margin: 8px 10px;
  width: 100vh;
}

.messages-list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  font-size: 15px;
  overflow-y: scroll;
  height: calc(100vh - 64px);
}

.chat-bubble-hstack {
  display: flex;
}

.chat-bubble {
  padding: 8px 12px;
  border-radius: 18px;
  max-width: 300px;
}

.chat-bubble-non-self {
  background: var(--wash);
  color: var(--primary-text);
}

.chat-bubble-self {
  background: rgb(0, 132, 255);
  color: white;
}

.chat-bubble-spacer {
  flex-grow: 1;
}

.conversation-input {
  color: rgb(28, 30, 33);
  width: -webkit-fill-available;
}

.conversation-input .bubble {
  border-radius: 20px;
  background-color: rgba(134, 142, 153, 0.1);
  padding: 8px 10px;
}

.conversation-input .text-input {
  line-height: 20.1px;
  border-width: 0px;
  width: 98%;
  outline: none;
  background-color: transparent;
}

.conversation-summary-list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: calc(100vh);
  padding-left: 12px;
  padding-right: 12px;
}

.conversation-summary {
  padding-top: 10px;
  padding-bottom: 10px;
}

.conversation-summary-list .title {
  font-weight: 600;
}

.conversation-summary-list .subtitle {
  font-size: 13px;
}

.conversation-summary-list .selected {
  background: rgba(0, 0, 0, 0.04);
}
